#cart {
  width        : 70%;
  padding      : 30px;
  margin       : 0 auto;
  background   : #fff;
  border       : 1px solid #ddd;
  border-radius: 5px;

  @media (max-width: 1255px) {
    width: 100%;
  }

  h1 {
    margin    : 20px 0 40px 0;
    text-align: center;
  }

  .cart__null {
    text-align: center;
    padding   : 20px;
    font-size : 20px;
  }

  .cart__total {
    display        : flex;
    justify-content: flex-end;
    margin-top     : 50px;
    padding        : 20px;
    font-size      : 25px;
  }
}

.cart-item {
  margin         : 20px;
  display        : flex;
  justify-content: space-between;
  align-items    : center;

  .cart-item__image {
    display    : flex;
    align-items: center;
    flex-basis : 40%;

    img {
      width       : 80px;
      margin-right: 30px;
    }
  }

  .cart-item__quantity {
    display: flex;
    border : 2px solid #333;

    .decrement {
      padding     : 10px 20px;
      border-right: 2px solid #333;
      cursor      : pointer;
    }

    .quantity {
      padding: 10px 20px;
    }

    .increment {
      border-left: 2px solid #333;
      padding    : 10px 20px;
      cursor     : pointer;
    }
  }

  .deleted-product {
    width : 20px;
    cursor: pointer;
  }
}